<div class="form">
<form method="post" id="{{ _form }}">

<p>
	{"Name"}:<br />
	<input type="text" name="name" size="50" value="{{ name|quotes }}" />
	<span class="notice" id="name-notice">{"Please enter a name."}</span>
</p>
<p>
	{"Link"}:<br />
	<input type="text" name="link" size="50" value="{{ link|quotes }}" />
	<span class="notice" id="link-notice">{"Please enter a link."}</span>
</p>
<p>
	{"Thumbnail"}:<br />
	<input type="text" name="thumbnail" value="{{ thumbnail|quotes }}" />
	<span class="notice" id="thumbnail-notice">{"Please enter a thumbnail."}</span>
</p>
<p>
	{"Type"}:<br />
	<select name="type">
		<option value="">- select -</option>
{% for _key, _value in listings\Data::types () %}
		<option value="{{_key|quotes}}"{% if _key == $data->type %} selected{% end %}>{{_value}}</option>
{% end %}
	</select>
	<span class="notice" id="type-notice">{"Please choose a type."}</span>
</p>
<p>
	{"Description"}:<br />
	<textarea name="description" cols="60" rows="4">{{ description }}</textarea>
	<span class="notice" id="description-notice">{"Please enter a description."}</span>
</p>
<p>
	{"User"}:<br />
	<input type="text" name="user" value="{{ user|quotes }}" />
	<span class="notice" id="user-notice">{"Please enter a user."}</span>
</p>
{! admin/util/datewidget !}

<p>
	{"Added"}:<br />
	<input type="text" name="added" class="datewidget-datetime" value="{{ added|quotes }}" />
	<span class="notice" id="added-notice">{"Please enter a added."}</span>
</p>
{! admin/util/datewidget !}

<p>
	{"Updated"}:<br />
	<input type="text" name="updated" class="datewidget-datetime" value="{{ updated|quotes }}" />
	<span class="notice" id="updated-notice">{"Please enter a updated."}</span>
</p>

<p><input type="submit" value="{"Add Listing"}" /></p>

</form>
</div>
