{! admin/util/wysiwyg?field_id=details !}
{! admin/util/datewidget !}
{! user/util/userchooser !}
{! filemanager/util/browser !}

<div class="form">
<form method="post" id="{{ _form }}">

<p>
	{"Name"}:<br />
	<input type="text" name="name" size="50" value="{{ name|quotes }}" />
	<span class="notice" id="name-notice">{"Please enter a name."}</span>
</p>
<div id="thumbnail-div">
	{"Thumbnail"}:<br />
	<img src="{% if thumbnail == '' %}//:0{% else %}{{thumbnail|quotes}}{% end %}" id="thumbnail-preview" /><br />
	<input type="hidden" name="thumbnail" id="thumbnail" size="40" value="{{ thumbnail|quotes }}" />
	<input type="submit" id="thumbnail-browse" value="{"Choose"}" />
</div>
<p>
	{"Link"}:<br />
	<input type="text" name="link" size="50" value="{{ link|quotes }}" />
	<span class="notice" id="link-notice">{"Please enter a link."}</span>
</p>
<p>
	{"Type"}:
	<select name="type">
		<option value="">- select -</option>
{% for _key, _value in listings\Data::types () %}
		<option value="{{_key|quotes}}"{% if _key == $data->type %} selected{% end %}>{{_value}}</option>
{% end %}
	</select>
	<span class="notice" id="type-notice">{"Please choose a type."}</span>
</p>
<p>
	{"Description"}:<br />
	<textarea name="description" cols="60" rows="4">{{ description }}</textarea>
	<span class="notice" id="description-notice">{"Please enter a description."}</span>
</p>
<p>
	{"Details"}:<br />
	<textarea name="details" id="details">{{ details }}</textarea>
	<span class="notice" id="details-notice">{"Please enter the details."}</span>
</p>
<p>
	{"Status"}:
	<select name="status">
		<option value="">- select -</option>
{% for _key, _value in listings\Data::statuses () %}
		<option value="{{_key|quotes}}"{% if _key == $data->status %} selected{% end %}>{{_value}}</option>
{% end %}
	</select>
	<span class="notice" id="status-notice">{"Please choose a status."}</span>
</p>
<p>
	{"User"}:
	<strong id="user-name">{{user|User::field(%s, 'name')}}</strong>
	<button id="users">{"Choose"}</button>
	<input type="hidden" name="user" id="user" value="{{ user|quotes }}" />
	<span class="notice" id="user-notice">{"Please choose a user."}</span>
</p>
<p>
	{"Added"}:<br />
	<input type="text" name="added" class="datewidget-datetime" value="{{ added|quotes }}" />
	<span class="notice" id="added-notice">{"Please enter a date added."}</span>
</p>
<p>
	{"Updated"}:<br />
	<input type="text" name="updated" class="datewidget-datetime" value="{{ updated|quotes }}" />
	<span class="notice" id="updated-notice">{"Please enter a date updated."}</span>
</p>

<p><input type="submit" value="{"Add Listing"}" /></p>

</form>
</div>

<style>
#{{_form}} {
	position: relative;
}
#thumbnail-div {
	position: absolute;
	top: 0;
	right: 0;
	width: 150px;
}
#thumbnail-preview {
	width: 150px;
	height: 100px;
	margin-bottom: 5px;
}
</style>

<script>
$(function () {
	$('#users').click (function () {
		$.userchooser ({
			set_id_value: '#user',
			set_name_value: '#user-name'
		});
		return false;
	});

	$('#thumbnail-browse').click (function (e) {
		e.preventDefault ();
		$.filebrowser ({
			allowed: ['jpg', 'jpeg', 'png', 'gif'],
			set_value: '#thumbnail',
			title: "{"Choose an image"}",
			thumbs: true,
			callback: function (file) {
				$('#thumbnail-preview').attr ('src', file);
			}
		});
	});
});
</script>
